In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weather_data.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df.shape ## cho thấy hình dạng của dữ liệu ở đây là 6 dòng và 4 cột

(6, 4)

In [17]:
df[2:5] ## Lấy từ phần tử thứ 3 cho đến phần tử thứ 5. 0 là bắt đầu

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [22]:
df["temperature"]

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [25]:
df[df.temperature >= 32] ##In df where df temperature >= 32 thì xuất ra dữ liệu

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [29]:
df[['day', 'temperature']][df.temperature >= df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [30]:
df.index

RangeIndex(start=0, stop=6, step=1)